* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --blueish: rgb(8, 156, 209);;
}

.Main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.Main .Left {
    width: 20vw;
    height: 100vh;
    background-color: var(--blueish)
}

.Main .Left section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.Main .Left section div {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 25px;
}

.Main .Left section div i {
    font-size: 25px;
}

.Main .Right {
    width: 82vw;
    height: 100vh;
}

.Main .Right section:nth-child(1) {
    display: flex;
    background-color: white;
}

.Main .Right section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 9vh;
}

.Main .Right section:nth-child(3) {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10%;
}

.Main .Right section div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    gap: 5px;
}

.Main .Right section .Search {
    width: 60vw;
}

.Main .Right section .Search input {
    width: 85%;
    height: 15px;
    padding: 15px;
    outline: none;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 25px;
}

.Main .Right section .Icon {
    width: 40vw;
    gap: 30px;
    font-size: 20px;
}

.Main .Right section .Icon .Image {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.Main .Right section:nth-child(2) .Introduct {
    margin-left: 40px;
    gap: 20px;
}

.Main .Right section:nth-child(2) .Introduct #img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid red;
}

.Main .Right section:nth-child(2) .Introduct div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.Main .Right section:nth-child(2) .Buttons {
    display: flex;
    gap: 50px;
    margin-right: 140px;
}

.Main .Right section:nth-child(2) .Buttons button {
    background-color: var(--blueish);
    color: white;
    padding: 8px;
    width: 80px;
    font-weight: bolder;
    border: none;
    border-radius: 50px;
}

.Main .Right section:nth-child(3) div {
    border: 2px solid black;
}

.Main .Right section:nth-child(3) .Title {
    grid-column: 1/3;
}

.Main .Right section:nth-child(3) .Card-Container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50px repeat(3, 30%);
    padding: 15px;
}

.Main .Right section:nth-child(3) .Card-Container > h3{
    grid-column: 1/3;
}

.Main .Right section:nth-child(3) .Card-Container > .Card{
    border: 2px solid black;
    height: 150px;
}

.Main .Right section:nth-child(3) .Card-Container-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13.5% 50% 10%;
    gap: 0px;
    border: 2px solid black;
    height: 100%;
}

.Main .Right section:nth-child(3) .Card-Container-2 .Card {
    border: 2px solid black;
    height: 100%;
}

.Main .Right section:nth-child(3) .Card-Container-2 > div:nth-child(odd) {
    display: flex;
    justify-content: start;
    padding: 10px;
}



