* {
    padding: 0;
    margin: 0;
}

h2 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    width: 85vw;
    padding: 10px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    width: 84vw;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50vw; 
    height: 80vh; 
    border: 5px solid black;
    border-radius: 10px;
}

.Panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(240, 240, 240); 
    height: 100vh; 
    width: 16%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.Panel .Picker.Wrapper {
    height: 15%;
    padding: 5px;
    position: relative;
}

.Panel .Color.Picker {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(auto-fill, 30px);
    gap: 5px;
    padding: 10px;
    background: rgb(0, 0, 0);
    height: auto;
    width: 80%;
    border-radius: 15px;
}

.Panel .Color.Picker div {
    border-radius: 15px;
}

.Panel .Color.Picker div:hover {
    cursor: pointer;
    scale: 1.2;
}

.Panel .Picked {
    height: 150px; 
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.Grid .Row {
    border: 1px solid black;
}

.Grid .Row:hover {
    cursor: pointer;
}