* {
    padding: 0;
    margin: 0;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50vw; 
    height: 95vh; 
    border: 5px solid black;
}

.Grid .Row {
    border: 1px solid black;
    background: lightblue;
}